/* components
------------------------------------------------------------*/

/* --------------------------------- sidebar -------------------------------- */
.l-sidebar {
  &__container {
    position: fixed;
    top: 145px;
    right: 20px;

    width: calc(325px - 3px);
    height: calc(100vh - 145px); // top

    padding: 8px;
  }

  &__wrapper {
    height: 100%;
    border: 1px solid $black-cl;
    padding: 15px;
  }

  &__date {
    background-image: url(../../assets/img/grid.webp);
    background-repeat: repeat;
    font-family: $toppan-fonts;
    font-weight: 700;
    text-align: center;
    padding: 13px;

    h2 {
      font-size: 2.8rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.6rem;
    }
  }

  &__hotwords {
    padding-top: 30px;
    padding-bottom: 30px;

    h2 {
      font-family: $helvetica-fonts;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.7rem;
      text-align: center;

      padding-bottom: 25px;
    }
  }

  &__tags {
    @include mid(true);
    flex-wrap: wrap;
    gap: 10px;

    font-size: 1.4rem;
    font-weight: 700;
    height: 160px;
    overflow: hidden;

    a {
      background-color: #d5d5d5;
      padding: 5px;
    }
  }

  &__figure {
    @include mid(true);
    gap: 15px;

    padding: 25px 0;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.15);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.15);

    a {
      text-align: center;

      p {
        padding-top: 10px;
        font-family: $toppan-fonts;
        font-size: 1.4rem;
      }

      img {
        width: 80px;
        height: 80px;
        object-fit: contain;
      }
    }
  }

  &__mail {
    padding-top: 30px;
    text-align: center;
    font-family: $toppan-fonts;

    h2 {
      font-size: 2rem;
      line-height: 2.13;

      svg {
        display: inline-block;
        margin-right: 10px;
      }
    }

    p {
      font-size: 1.3rem;
    }
  }
}

/* ---------------------------------- unility --------------------------------- */

.minna {
  background-color: #aed5da !important;
}

.nakama {
  background-color: #deb3b3 !important;
}

.sdgs {
  background-color: #dcd498 !important;
}

.event {
  background-color: #c8deb0 !important;
}

.is-hidden {
  display: none !important;
}

/* -------------------------------- animation ------------------------------- */
.anim-box {
  &.poyopoyo {
    animation: poyopoyo 2s ease-in-out infinite;
    opacity: 1;
  }
}

@keyframes poyopoyo {
  0%,
  40%,
  60%,
  80% {
    transform: scale(1);
  }
  50%,
  70% {
    transform: scale(0.95);
  }
}

/* -------------------------------- loadmore -------------------------------- */
.c-loadmore {
  padding: 20px;
  @include mid(true);

  opacity: 0;
  transition: all 0.5s ease-in-out;

  &.show {
    opacity: 1;
  }
}

#loader {
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top: 3px solid #797979;
  border-bottom: 3px solid #797979;
  border-right: 3px solid #797979;
  animation: spin 1s linear infinite;   
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

