/* Footer
------------------------------------------------------------*/

.c-footer {
  &__wrapper {
    border-top: 3px solid $black-cl;
    border-right: 3px solid $black-cl;

    font-family: $helvetica-fonts;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    width: calc(100% - 325px + 3px); // width + border
  }

  &__backtotop {
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.5s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}
