/* -------------------------------------------------------------------------- */
/*                                  home page                                 */
/* -------------------------------------------------------------------------- */

.p-home {
}

// @mainvisual
.p-mainvisual {
  &__container {
    padding: 8px;
    border-bottom: 3px solid $black-cl;
  }

  &__swiper {
    border: 1px solid $black-cl;
  }

  &__slide {
    display: flex;
  }

  &__img {
    flex: 1;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
    }
  }

  &__control {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;

    .swiper-button-next,
    .swiper-button-prev {
      position: unset;

      width: 55px;
      height: 55px;
      background-color: #dadada;
      border: 1px solid $black-cl;

      &::after {
        font-size: 0;
      }
    }

    .swiper-button-next {
      margin-left: -1px;
    }
  }

  &__content {
    width: 160px;
    border-left: 1px solid $black-cl;
    text-align: center;
    font-weight: 700;
    background-color: #aed5da;

    // @include mid(true);
    flex-direction: column;
    padding: 20px 0;

    // 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__date {
    font-family: $helvetica-fonts;
    font-size: 1.5rem;
    padding-bottom: 15px;
  }

  &__category {
    font-size: 1.2rem;
    border: 2px solid $black-cl;
    background-color: $white-cl;
    padding: 5px 17px;
  }

  &__title {
    padding-top: 20px;
    padding-bottom: 30px;

    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: 700;
    text-align: justify;
    
    // width: 60px;
    // flex: 1;
    // @include mid(true);
    
    // 
    writing-mode: vertical-lr;
    text-orientation: mixed;
    height: 400px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__photo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 10px 25px 0;

    span {
      font-family: $helvetica-fonts;
    }
  }
}

// @banner
.c-banner {
  padding: 8px;
  border-bottom: 3px solid $black-cl;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// @news
.c-article {
  &__wrapper {
    border-bottom: 3px solid $black-cl;
  }

  &__box {
    font-weight: 700;
    flex: 1;
  }

  &__content {
    padding: 0 15px;
  }

  &__thumbnail {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__new {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid $black-cl;
    background-image: url(../../assets/img/bg.webp);
    background-repeat: repeat;

    font-size: 1.5rem;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    bottom: 10px;
    right: 10px;

    animation: poyopoyo 2s ease-in-out infinite;
    opacity: 1;
  }

  &__category {
    font-size: 1.2rem;
    font-weight: 700;

    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    // padding: 5px 13px;
    width: 90px;
    min-height: 22px;
    line-height: 20px;
    text-align: center;

    background-color: #aed5da;
    border: 2px solid $black-cl;
  }

  &__date {
    font-family: $helvetica-fonts;
    font-size: 1.4rem;
    color: rgba($color: #000000, $alpha: 0.5);
    padding-top: 15px;
    padding-bottom: 5px;
  }

  &__title {
    font-size: 1.6rem;
    line-height: 1.5;

    padding-bottom: 10px;
  }

  &__name {
    font-size: 1.3rem;
  }

  &__photo {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 0;

    border-top: 1px solid rgba($color: #000, $alpha: 0.15);
    border-bottom: 1px solid rgba($color: #000, $alpha: 0.15);

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__tags {
    padding: 15px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;

    a {
      font-size: 1.3rem;
      font-weight: 700;
      padding: 5px;
      background-color: #d5d5d5;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid $black-cl;
  }

  &__items {
    border-right: 1px solid $black-cl;
    border-bottom: 1px solid $black-cl;
    margin-right: -1px;
    margin-bottom: -1px;

    position: relative;
    padding: 8px;
    display: flex;
    flex-direction: column;
  }

  &__more {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    width: 50%;

    &:first-child {
      border-right: 1px solid $black-cl;
    }

    padding: 8px;

    a {
      background-color: $black-cl;
      color: $white-cl;
      height: 60px;

      @include mid(true);
      gap: 20px;

      svg {
        margin-top: 5px;
      }

      p {
        font-size: 1.7rem;
        font-weight: 700;
      }
    }
  }
}

// @movies
.p-movie {

  &__wrapper {
    border-bottom: 3px solid $black-cl
  }

  &__history {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 3px solid $black-cl;

    a {
      font-size: 1.8rem;
    }

    h2 {
      font-size: 2.3rem;
    }
  }

  &__title,
  &__history a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
  }

  &__content {
    padding: 8px;

    display: flex;
  }

  &__swiper {
    flex: 1;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: $white-cl;
    }
  }

  &__text {
    width: 30%;
    padding: 25px;

    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.75;
  }

  &__img {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
