/* -------------------------------------------------------------------------- */
/*                                  home page                                 */
/* -------------------------------------------------------------------------- */

.p-home {
  margin-top: calc(145px - 3px); // - border
  width: calc(100% - 325px); // - width
  border-right: 3px solid $black-cl;
}

.p-mainvisual {
  &__container {
  }
}
